@using BigDataOrdersDashboard.Dtos.ForecastDto

@model IEnumerable<PaymentForecastData>
@{
    ViewData["Title"] = "Customer List";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<section class="content pt-2"> 
<div class="block-header">
        <div class="row">
            <div class="col-lg-7 col-md-6 col-sm-12">
                <h2>
                    Ödeme Yöntemi Tahmini
                    <small class="text-muted">Ödeme Yöntemi Tahminleri Sayfası</small>
                </h2>
            </div>
            <div class="col-lg-5 col-md-6 col-sm-12">
                <ul class="breadcrumb float-md-right">
                    <li class="breadcrumb-item"><a href="index.html"><i class="zmdi zmdi-home"></i> Ödeme Yöntemleri</a></li>
                    <li class="breadcrumb-item"><a href="javascript:void(0);">Ödeme Yöntemi Tahminleri</a></li>
                    <li class="breadcrumb-item active">Ana Sayfa</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row  clearfix">
            <div class="col-lg-12">
                <div class="card">
                    <div class="body">
                         <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Ödeme Yöntemi</th>
                                    <th>Sipariş Sayısı</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var forecastData in Model)
                                {
                                    <tr>
                                        <td>@forecastData.MonthIndex</td>                           
                                        <td>@forecastData.PaymentMethod</td>
                                        <td>@forecastData.OrderCount</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                         

 
                    </div>
                </div>
            </div>
        </div>
    </div>   
</section>